<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Las Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div formGroupName="password">
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </div>
  </ion-list>
  <ion-button type="submit" color="primary" expand="block" [disabled]="!signUpForm.valid">Sign Up</ion-button>
</form>